.field-container{
    width: 100%;
    min-height: 50px;
}
.field{
    display: flex;
    flex: 1;
    align-items: stretch;
    justify-content: space-between;
}
.field .error{
    display:block;
    color: red;
}
.comp-container{
    width:50%;
}
.comp-container >input, .comp-container >select, .comp-container >textarea {
    width:100%;
}